/target
todo.txt
manual_rules.txt
test_g.txt
test_rules.txt
single_rules_small.txt
converted_both.txt
single_rules_both.txt
graph_subst_single.pb
/tmp
bert_time.txt
bert_old_time.txt
*.pdf
*.png
._*
.DS_Store
